    <!-- Header -->
    <header>
        <div class="menu">
            <img src="/img/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a href="#">Smartphnones</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Computadoras</a></li>
                </ul>
            </nav>
        </div>
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="login">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </div>
    </header>