<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a84aca7bf1.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="menu">
            <img src="/img/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a href="#">Smartphnones</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Computadoras</a></li>
                </ul>
            </nav>
        </div>
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="login">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </div>
    </header>
    <!-- Main -->
    <div class="contenedor-grid">
    <main>
        <section class="grid-padre-produc">
            <article class="productos product-grid-1">
                <img src="/img/img-phone-01.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-2">
                <img src="/img/img-phone-02.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-3">
                <img src="/img/img-phone-03.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-4">
                <img src="/img/img-phone-01.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-5">
                <img src="/img/img-phone-02.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
            <article class="productos product-grid-6">
                <img src="/img/img-phone-03.jpg" alt="">
                <div>
                    <h2>Nombre del Producto</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quibusdam esse vero delectus. Commodi, consectetur!</p>
                    <a href="#">ver mas</a>
                </div>
            </article>
        </section>
    </main>
    <aside class="aside-tuto">
        <h2>tutoriales</h2>
        <section>
            <article class="tutoriales">
                <img src="/img/aside-01.jpg" alt="">
                <p>Titulo del tutorial de reparaci贸n</p>
            </article>
            <article class="tutoriales">
                <img src="/img/aside-02.jpg" alt="">
                <p>Titulo del tutorial de reparaci贸n</p>
            </article>
            <article class="tutoriales">
                <img src="/img/aside-03.jpg" alt="">
                <p>Titulo del tutorial de reparaci贸n</p>
            </article>
            <article class="tutoriales">
                <img src="/img/aside-04.jpg" alt="">
                <p>Titulo del tutorial de reparaci贸n</p>
            </article>
        </section>
    </aside>
    <aside class="aside-publi">
        <h2>Publicidad</h2>
        <section class="contenedor-publicidad">
            <picture class="publicidad">
                <img class="img-publicidad-1" src="/img/ad-01.jpg" alt="">
            </picture>
            <picture class="publicidad">
                <img src="/img/ad-02.jpg" alt="">
            </picture>
        </section>
    </aside>
    </div>
<!-- slider -->
    <div class="home__carousel">
        <div class="glider-contain" >
            <div class="glider">
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
            </div>

            <div role="tablist" class="dots"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/javascripts/glider.js"></script>
    <script>
        window.addEventListener("load", function () {
            new Glider(document.querySelector(".glider"), {
                slidesToShow: 1,
                dots: '.dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                draggable: true,
                responsive: [
                    {
                        // screens greater than >= 775px
                        breakpoint: 768,
                        settings: {
                            // Set to `auto` and provide item width to adjust to viewport
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            duration: 0.25,
                            /* itemWidth: 150, */

                        }
                    }, {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            duration: 0.25,
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>